<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:value="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <h1>home.HTML</h1>
</head>
<body>
<h2 th:if="${session.sessionUsername==null}">게스트 안녕</h2>
<h2 th:if="${session.sessionUsername !=null}" th:text="|${session.sessionUsername} 안녕|"></h2>
<a href="signin">로그인해</a>
<a href="signup">회원가입해</a>
<a href="formembers">회원전용 페이지</a>

<br>
<form action="signout" method="post">
  <button type="submit">로그아웃</button>
</form>
<br>

<hr>
<h2>유저목록</h2>
<div th:each="member : ${members}">
  <strong th:text="${member.username}">이름</strong>
  <strong th:text="${member.password}">이름</strong>
</div>




</body>
</html>