<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:value="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<form action="signup" method="post" enctype="application/x-www-form-urlencoded">
    <!-- th:field는 modelattribute의 변수명으로 id, name ,value 설정-->
    <label>ID</label>
    <input type="text" th:field ="${member.username}" >
    <strong th:if= "${#fields.hasErrors('${member.username}')}"  th:errors="${member.username}" style="color: red">
        fsdf</strong>

    <p>
    <label>PWD</label>
    <input type="password" id="password" name="password" th:value="${member.password}">
    <strong th:if= "${#fields.hasErrors('${member.password}')}"  th:errors="${member.password}" style="color: red">
            fsdf</strong>

    <p>

  <button type="submit">회원가입해</button>
</form>
</body>
</html>